<% include header %>
<div class="col-md-9">

        <div class="panel panel-info">
                <div class="panel-heading">Ajouter un produit : </div>
                <div class="panel-body">
                  <form method="post" action="/addproduit" >
                  <div class="form-group">
                    <label>Description</label>
                    <input name="lib" class="form-control" type="text" required >
                  </div>
                  <div class="form-group">
                    <label>Prix</label>
                    <input name="prix" class="form-control" type="text" required >
                  </div>
                  <div class="form-group">
                    <label>Quantité</label>
                    <input name="qte" class="form-control" type="text" required  >              
                  </div>              
                  <button class="btn btn-primary" type="submit" >Enregistrer</button>
                  </form>
             </div>
        </div>

</div>


<% include footer %>
